Velib/ClientEvent/Connected Services/EventService/Event2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Velib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Velib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="available_bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="available_bikes" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
</xs:schema>